.skills-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
h2{
    color: white;
}
.skill {
    text-align: center;
    margin: 20px;
}

.skill img {
    width: 100px; /* Adjust according to your logo size */
}

.skill p {
    margin-top: 10px;
}
button {
    padding: 10px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff;
    text-shadow: none;
    background: transparent;
    cursor: pointer;
    box-shadow: transparent;
    border: 1px solid #ffffffc0;
    transition: 0.5s ease;
    user-select: none;
  }
  
  #btn:hover,
  :focus {
    color: #ffffff;
    background: #008cff;
    border: 1px solid #008cff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
    box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
      0 0 100px #008cff;
  }
  